.card{

border-radius:25px;

padding:35px;

box-shadow:0 10px 25px rgba(0,0,0,.08);

}

.form-control,
.form-select{

padding:14px;

border-radius:12px;

}

.form-control:focus,
.form-select:focus{

border-color:#2563eb;

box-shadow:0 0 0 .2rem rgba(37,99,235,.15);

}

h2{

font-weight:700;

color:#0f172a;

}

h5{

font-weight:600;

color:#2563eb;

margin-bottom:20px;

}

label{

font-weight:500;

margin-bottom:8px;

}

.btn-primary{

background:#2563eb;

border:none;

padding:15px 40px;

border-radius:12px;

font-weight:600;

transition:.3s;

}

.btn-primary:hover{

background:#1d4ed8;

transform:translateY(-2px);

}