body{
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
    background:#f4f7fb;
}

.container{
    width:70%;
    margin:auto;
    margin-top:40px;
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0 5px 15px rgba(0,0,0,.2);
}

h1,h2{
    text-align:center;
    color:#0b5394;
}

input,select{
    width:100%;
    padding:10px;
    margin-top:10px;
    margin-bottom:18px;
    border-radius:5px;
    border:1px solid #ccc;
}

button{
    width:100%;
    padding:12px;
    background:#0b5394;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
    font-size:16px;
}

button:hover{
    background:#063970;
}

.result{
    text-align:center;
    font-size:28px;
    color:green;
    margin-top:30px;
}