<aside class="sidebar">

    <div class="logo-section">

        <img src="{{ url_for('static', filename='images/logo.svg') }}" width="70">

        <h2>SmartLender AI</h2>

        <p>Intelligent Loan Risk Assessment</p>

    </div>

    <ul>

        <li>
            <a href="/dashboard">
                <i class="bi bi-grid-fill"></i>
                Dashboard
            </a>
        </li>

        <li>
            <a href="/predict">
                <i class="bi bi-cash-stack"></i>
                Loan Prediction
            </a>
        </li>

        <li>
            <a href="/analytics">
                <i class="bi bi-bar-chart-fill"></i>
                Analytics
            </a>
        </li>

        <li>
            <a href="/model">
                <i class="bi bi-cpu-fill"></i>
                AI Model
            </a>
        </li> 
        <li>
            <a href="/logout">
                <i class="bi bi-box-arrow-right"></i>
                Logout
            </a>
        </li>

    </ul>

</aside>